* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

#mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#inputGrid {
    padding: 5px;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100vh;
    width: 100vh;
    padding: 20px;
}

.cell {
    margin: 0;
    height: auto;
    background-color: white;
}

#inputGrid {
    border-radius: 5px;
}

.pageDirections {
    padding: 5px;
}
