* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 100vh;
    width: 100vh;
    /* justify-content: space-between; */
    padding: 50px;
}

.cell {
    margin: 0;
    height: auto;
    flex-basis: 6.25%; /* currently, this must update each time new amt of grid is called. */
    border: 0.5px solid;
}